.home-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 2rem;
    width: 100%;
}
.column-container {
    width: 65%;
}
.main-story-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.main-suggestion-container {
    width: 25%;
    margin-left: 4rem;
}
.main-contents-container {
    width: 71%;
    margin: 0 auto;
}

 /* <--------------------------------------------------------------------- mobile screens ----------------------------------------------------> */

@media screen and (max-width: 431px) {
    .main-suggestion-container {
        display: none;
    }
    .main-story-container {
        flex-wrap: wrap;
    }
}