.stories {
  text-align: center;
}
.stories img {
    width: 7vh; /* to make a circle always give same unit to height and width*/
    height: 7vh;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
} 


@media screen and (max-width: 1025px) {
  .main-story-container {
    overflow: hidden;
    gap: 1rem;
}
}

@media screen and (max-width: 541px) {
  .main-story-container {
    overflow: hidden;
    gap: 1rem;
}
}