.layout-container {
    display: flex;
    justify-content: center;
  }
  .ham-menu {
    display: none;
  }

  @media screen and (max-width:1024px) {
    .ham-menu {
      font-size: 2rem;
      left: 3rem;
      top: 1rem;
      display: block; 
      position: fixed;
      top: 2;
    }
    .sidebar {
      width: 34%;
      box-shadow: 12px 2px 3px rgb(238, 234, 234);
      display: none;
      position: fixed;
      left: 0;
      background-color: rgba(255, 255, 255, 0.27);
  }
    .active {
      width: 34%;
      box-shadow: 2px 2px 3px rgb(238, 234, 234);
      display: block;
      position: fixed;
      left: 0;
      background-color: rgba(255, 255, 255, 0.27);
  }
  }

/* <--------------------------------------------------------------------- mobile screens ----------------------------------------------------> */

@media screen and (max-width:541px) {
  .layout-container {
    display: block;
  }
  .ham-menu {
    display: none;
  }
  .sidebar {
    width: 34%;
    display: block;
    background-color: black;
}
}