/* .layout-container {
    display: flex;
  } */
.layout-container {
    display: flex;
    justify-content: center;
  }
  .ham-menu {
    display: block;

  }

  

  @media screen and (max-width:1024px) {
    .ham-menu {
      font-size: 2rem;
      left: 3rem;
      top: 1rem;
      display: block; 
      position: fixed;
      top: 2;
    }
  }

/* <--------------------------------------------------------------------- mobile screens ----------------------------------------------------> */

@media screen and (max-width:541px) {
  .layout-container {
    display: block;
  }
  .ham-menu {
    display: block;
  }
}