.layout-container {
    display: flex;
  }
  
  .sidebar {
    width: 20%;
    position: sticky;
    top: 0;
    box-shadow: 2px 2px 6px rgb(238, 234, 234);
  }
  
  .main-content {
    width: 80%;
    padding: 20px;
  }
  

/* <--------------------------------------------------------------------- mobile screens ----------------------------------------------------> */

@media screen and (max-width:431px) {
  .layout-container {
    display: block;
  }
}